{% extends "MealPlans/portal_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="my-auto container text-center">
    <div class="row mt-5">
        <div class="col-lg-6 d-flex">
            
            <div class="container content-section my-auto">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 display-3 text-success">Update a Custom Food</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group my-2">
                        <a href="{% url 'view_food' %}" class="btn btn-outline-danger mx-2">Cancel</a>
                        <button class="btn btn-outline-success mx-2" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 d-none d-lg-block">
            
        </div>
    </div>
</div>

{% endblock content %}